<div class="container h-100 align-content-center">
    <!-- <div class="row justify-content-center mt-5">
        <div class="col-md-2" *ngFor="let category of categories"><a [routerLink]="'/'+category"
                class="btn btn-primary">{{category}}</a></div>
    </div> -->

    <div class="card-group mt-5 ">
        <div class="card" *ngFor="let item of homeItems">
            <img [src]="item.url" class="card-img-top w-50 mx-auto mt-5" alt="...">
            <div class="card-body">
                <div class="h-50"></div>
                <!-- <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->

                <a [routerLink]="'/'+item.category" class=" btn btn-primary btn-block">{{item.name}}</a>
            </div>
        </div>

    </div>
</div>