<div class="container my- 5">
    <h1 class="mt-5 text-center">Products</h1>

    <h4>Filter By:</h4>
    <b class="mt-2">Category:</b>
    <select name="gender" class="form-select my-2" [(ngModel)] = "filterText"> 
        <option value="All">All</option>
        <option *ngFor="let c of uniqueProdCategories" [value]="c">{{c}}</option>
        
    </select>
    <div class="col-md-12">
        <label for="inputEmail4" class="form-label"><b>Stock:</b><small>&nbsp;(It'll filter the products that has stock value >= Entered stock Value)</small></label>
        <input type="number" class="form-control" id="inputEmail4" name="stock" [(ngModel)]= "stockvalue" min="0" placeholder="Enter minimum stock value of products">
    </div>

    <table class="table mt-5 table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Product Name</th>
                <th>Category</th>
                <th>Price</th>
                <th>Stock</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList | categoryfilter : filterText | Stockfilter : stockvalue">
                <td>{{product.productName}}</td>
                <td>{{product.category}}</td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
                <td><a [routerLink]="['/products', product.id]" class="btn btn-primary">View Detail</a></td>
            </tr>         
        </tbody>
    </table>

</div>

