<div class="container my- 5">
    <h1 class="mt-5 text-center">Cities</h1>

    <b>Filter By: </b>
    <select name="gender" class="form-select mt-2" [(ngModel)] = "filterText"> 
        <option value="All">All</option>
        <option *ngFor="let c of uniqueCountries" [value]="c">{{c}}</option>
    </select>


    <table class="table mt-5 table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>City</th>
                <th>Country</th>
                <th>Population</th>
                <th>Language</th>
                <th>TimeZone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let city of cityList | countryfilter : filterText">
                <td>{{city.cityName}}</td>
                <td>{{city.country}}</td>
                <td>{{city.population}}</td>
                <td>{{city.language}}</td>
                <td>{{city.timezone}}</td>
                <td><a [routerLink]="['/cities', city.id]" class="btn btn-primary">View Detail</a></td>
            </tr>         
        </tbody>
    </table>

</div>
